{% extends 'base.html' %}

{% block main %}

    Banco Horas extras
<br>
    {% for registro_re in object_list %}
<br>
        <a href=" {% url 'update_hora_extra' registro_re.id %} ">
            {{ registro_re }}

        </a>
        <a href=" {% url 'delete_hora_extra' registro_re.id %} ">
            Deletar
        </a>


    {% endfor %}

    {% if not object_list %}
        <h3>Não existem Registros de Horas Extras no Banco de Dados</h3>
    {% endif %}
    <a href=" {% url 'create_hora_extra' %} " class="btn btn-info">
        Novo
    </a>



{% endblock %}