{% extends 'base.html' %}

{% block main %}
    <div class="row">
    <div class="col-sm">
      Uma de três colunas
    </div>
    <div class="col-sm">
      Ola {{ usuario.funcionario.nome }}
        <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a><br>
        <a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
        <a href="{% url 'list_hora_extra' %}">Gerenciar Benco de Horas</a>
    </div>
    <div class="col-sm">
      <form method="post" action="{% url 'logout' %}">
     {% csrf_token %}

      {% if usuario.funcionario.empresa %}
          <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}"> Editar </a>
      {% else %}
          <a href="{% url 'create_empresa'%}"> Cria Empresa </a>
      {% endif %}
    <button type="submit">Logout</button>
</form>
    </div>
  </div>
{% endblock %}